@media (max-width: 575.98px) {
  #desktop-navbar {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #desktop-navbar {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #desktop-navbar {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #desktop-navbar {
    display: block;
  }
}

@media (min-width: 1200px) {
  #desktop-navbar {
    display: block;
  }
}



.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 20px;
}

.navbar {
  padding: 4px 16px 4px 16px;
  background-color: rgba(255, 255, 255, .9) !important;
}

#logo {
  height: 36px;
  margin: 0px 24px 0px 24px;
}


.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

button:focus { 
  outline: none; 
}

.btn-menu-item {
  background-color: white;
}

.btn-menu-item:focus, .btn-menu-item:active, .btn-menu-item:active:focus {
outline: none;
box-shadow: none;
}

.clicked {
color: orange;
}

.right {
  position: absolute;
  right: 42px;
  padding-top: 16px;
}