/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 20px;
}

.navbar {
  padding: 4px 16px 4px 16px;
  background-color: rgba(255, 255, 255, .9) !important;
}

#logo {
  height: 36px;
}
