<app-top></app-top>
<div @fade [perfectScrollbar]="config" class="ps" style="position: relative; max-width: 100vw; max-height: 100vh;">
    <header>
        <div id="overlay">
            <div id="text">CONTACT US</div>
            <div id="sub-text">We’re ready to do it!</div>
        </div>
        <div id="img"></div>
    </header>

    <body>
        <section id="sec-1">
            <div class="container pt-5 pb-5">
                <h2 class="d-flex justify-content-center" id="contact-title">Get in touch with us</h2>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-md-offset-2">
                        <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
                            <div class="form-group">
                                <mat-form-field id="select">
                                    <mat-select [(value)]="selectedOption" #select (selectionChange)="changeOption($event)">
                                        <mat-option *ngFor="let option of options" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <label for="_name">Name</label>
                                <input type="text" class="form-control" id="_name" name="name" ngModel>
                            </div>
                            <div class="form-group">
                                <label for="_email">Email</label>
                                <input type="email" class="form-control" id="_email" name="email" ngModel>
                            </div>
                            <div class="form-group ">
                                <label for="_message">Your Message</label>
                                <textarea id="_message" class="form-control" name="message" ngModel></textarea>
                            </div>
                            <input type="hidden" name="selectedOption" [ngModel]="selectedOption">
                            <button type="submit" class="btn btn-default">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>

    <footer>
        <app-bottom></app-bottom>
    </footer>
</div>