@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@media (max-width: 575.98px) {
    #text {
        font-size: 16px;
    }
    #sub-text {
        font-size: 16px;        
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #text {
        font-size: 26px;
    }
    #sub-text {
        font-size: 16px;        
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #text {
        font-size: 32px;
    }
    #sub-text {
        font-size: 16px;        
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #text {
        font-size: 36px;
    }
    #sub-text {
        font-size: 16px;        
    }
}

@media (min-width: 1200px) {
    #text {
        font-size: 42px;
    }
    #sub-text {
        font-size: 16px;        
    }
}

html, body {
    padding: 0;
    margin: 0;
}

#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#img {
    background-image: url("../../assets/img/one-more-thing.jpg");
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;    
}

#text {
    font-family: 'Marck Script', cursive;
    position: absolute;
    top: 44%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#sub-text {
    font-family: 'Marck Script', cursive;
    position: absolute;
    top: 54%;
    left: 50%;
    font-size: 22px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#sec-1 {
    margin-top: 100vh;
    display: block;
    background-color: rgb(226, 129, 49);
    color: whitesmoke;
    text-align: right;
}

#sec-2, #sec-4 {
    display: block;
    background-color: rgb(232, 142, 49);
    color: whitesmoke;
}

#sec-3 {
    display: block;
    background-color: rgb(226, 129, 49);
    color: whitesmoke;
    text-align: right;
}


.text-sec {
    top: 54%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.sec-title {
    font-family: 'Marck Script', cursive;
    font-size: 36px;
    color: black;
}

.reference {
    font-size: 0.9em;
}